/* حجم الخط في ال Root Element هو 20px
قم بإستخدام ال Root Time ( Rem ) في الثلاث عناصر التالية لتخرج بالمقاسات المطلوبة
مطلوب في العنصر الأول أن يكون حجم الخط 50px بال Rem
مطلوب في العنصر الثاني أن يكون حجم الخط 40px بال Rem
مطلوب في العنصر الثالث أن يكون حجم الخط 30px بال Rem */
.one
{
    font-size: 2.5rem;
}
.two
{
    font-size: 2rem;
}
.three
{
    font-size: 1.5rem;
}